<p>Anchor elements that look like buttons:</br>
  <a href="#" class="button">Button-like Link</a><br/>
  <a href="#" class="primary button">Primary Link</a><br/>
  <a href="#" class="secondary button">Secondary Link</a></br>
  <a href="#" class="tertiary button">Tertiary Link</a></br>
  <a href="#" class="alert button">Alert Link</a><br/>
</p>
<p>Buttons Elements:</br>
  <button type="button" class="button">Simple Button</button><br/>
  <button type="button" class="primary button">Primary Btn</button><br/>
  <button type="button" class="secondary button">Secondary Btn</button><br/>
  <button type="button" class="tertiary button">Tertiary Btn</button><br/>
  <button type="button" class="alert button">Alert Btn</button><br/>        
</p>