<!doctype html>

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    {{> metadata}}
    {{> metadata-static}}
    <link rel="stylesheet" href="https://use.typekit.net/izj2zwr.css">  
    {{#each (array "" stylesheet)}}
    <link rel="stylesheet" href="{{.}}" />
    {{/each}}  
  </head>  
  <body>

  {{> body}} 
             
  {{> footer}}      
         
  {{> js-footer}}
  {{!-- {{if you enable the webpack option and the pieces, swap to js-footer-pack}} --}}

  {{#each (array "" javascript)}}
  <script src="{{ this }}"></script>
  {{/each}} 
  {{#if onload}}
  <script type="text/javascript">
    window.onload = {{ onload }};
  </script>
  {{/if}}
  </body>
</html>
